@page "/users"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorCrud.Models
@using BlazorCrud.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorCrud.Data.AppDbContext> DbFactory

<PageTitle>Index</PageTitle>


<a href="users/create" style="font-size: 2rem; color:black"><i class="bi bi-person-add"></i></a>


<QuickGrid Class="table" Items="context.Users">
    <PropertyColumn Property="users => users.Name" />
    <PropertyColumn Property="users => users.SirName" />
    <PropertyColumn Property="users => users.Email" />
    <PropertyColumn Property="users => users.Password" />
    <PropertyColumn Property="users => users.Cep" />
    <PropertyColumn Property="users => users.Street" />
    <PropertyColumn Property="users => users.Neighborhood" />
    <PropertyColumn Property="users => users.City" />
    <PropertyColumn Property="users => users.UF" />
</QuickGrid>

@code {
    private AppDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
